<%- include("partials/header") -%>

<div class="blogs" >
    <div class="items">
        <h1>About Us</h1><br>
        <p><%=aboutdet%></p>
    </div>
</div>

<%- include("partials/footer") -%>